:root {
  --remark-color-primary: #0d6efd;
  --remark-color-primary-lighter: #5498ff;
  --remark-color-primary-darker: #0b5dd7;
  --remark-color-green: #5ec576;
  --remark-color-green-darker: #399e66;
  --remark-color-warning: #ffcb03;
  --remark-color-warning-darker: #eaac00;

  --remark-color-danger: #ff585f;
  --remark-color-danger-darker: #fd424b;
  --remark-color-grey-light-4: #fcfcfc;
  --remark-color-grey-light-3: #f2f2f2;
  --remark-color-grey-light-2: #d0d0d0;
  --remark-color-grey-light-1: #9c9c9c;
  --remark-color-grey: #808080;
  --remark-color-grey-dark-1: #6c6c6c;
  --remark-color-grey-dark-2: #444444;
  --remark-color-grey-dark-3: #2d2c2c;
  --remark-color-grey-dark-4: #141313;
  --remark-color-black: #000000;
  --remark-color-white: #ffffff;
  --remark-color-danger-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --remark-default-box-shadow-light: rgba(120, 123, 127, 0.2) 0px 8px 16px;
  --remark-default-box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
  --remark-default-border: 1px solid var(--remark-color-grey-light-2);
  --remark-default-sanserif-font: Arial, Helvetica, sans-serif;
}

/* ******************************* UTILS ******************************** */

.remark_hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.remark_show {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.remark_fade {
  opacity: 0.5;
}

.remark_message_popup {
  height: 40px !important;
  padding: 20px !important;
  width: auto !important;
  z-index: 100000000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: var(--remark-color-white) !important;
  border: var(--remark-default-border) !important;
  box-shadow: var(--remark-default-box-shadow-light) !important;
  border-radius: 8px !important;
  position: fixed !important;
  bottom: 40px !important;
  left: 720px !important;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s !important;
  color: var(--remark-color-grey-dark-3) !important;
}

.remark_message_popup_content {
  color: var(--remark-color-success-darker) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}


/* ***************************** HIGHLIGHT ****************************** */

.highlight_element_light {
  cursor: crosshair;
  border-radius: 2px;
  background: rgba(13, 109, 253, 0.393) !important;
  transition: background-color 125ms ease-in-out 0s;
  z-index: 100000000 !important;
}

.highlight_element_strong {
  outline: 2px solid var(--remark-color-primary) !important;
  background: #0d6dfd1f !important;
  border-radius: 2px;
  cursor: crosshair;
  z-index: 100000000 !important;
}

.remark_hide_highlight {
  outline: none;
  background-color: transparent;
}

.highlight_element_selected {
  outline: 2px solid #2fed65 !important;
  background: #2fed653f !important;
}

/* ****************************** BUTTONS ******************************* */

.remark_standard_button {
  background-color: var(--remark-color-primary);
  color: var(--remark-color-white);
  border: none;
  transition: all 0.1s;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0px 10px 0px;
}

.remark_standard_button:hover {
  background-color: var(--remark-color-primary) !important;
  transform: scale(1.04);
}

.remark_standard_button:active {
  transform: scale(1) !important;
}

.remark_standard_button:active {
  color: var(--remark-color-white);
}

.remark_secondary_button {
  background: white;
  border: 1.4px solid var(--remark-color-primary);
  color: var(--remark-color-primary);
}

.remark_secondary_button:hover {
  background-color: var(--remark-color-primary);
  color: var(--remark-color-white);
  transform: scale(1.04);
}

.remark_secondary_button:active {
  transform: scale(1) !important;
  color: var(--remark-color-primary);
}

.remark_secondary_button:active {
  color: var(--remark-color-white) !important;
}

.remark_action_btn {
  width: 100%;
  margin: 20px 10px 0px 0px;
  height: 20px;
  color: var(--remark-color-grey-dark-1);
  padding: 3px;
  background-color: var(--remark-color-grey-light-3);
  border-radius: 6px;
  border: 1px solid var(--remark-color-grey-light-2);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  font-size: 8px;
}

.remark_action_btn:hover {
  transform: scale(1.1);
}

.remark_action_btn:active {
  transform: scale(1);
}

#remark_edit_annotation_button {
  margin: 16px 0px 0px 0px;
}


.remark_close_btn {
  margin: 4px 0px 0px 0px;
  cursor: pointer;
}

#labelTypeBtn {
  background: var(--remark-color-white) !important;
  color: var(--remark-color-grey) !important;
  border: var(--remark-default-border) !important;
  padding: 8px !important;
  border-radius: 6px !important;
  margin: 3px 0px 4px 0px !important;
  height: 36px;
  width: 180px;
  font-size: 14px !important;
}

#createNewTagBtn {
  font-size: 14px;
  margin: 18px 0px 0px 0px;
}

#createNewTag {
  height: 36px;
  font-size: 14px;
  margin: 12px 0px 16px 0px;
  width: 100%;
}

#remark_tag_dropdown{
  background: white;
  border: var(--remark-default-border);
  height: 36px;
  border-radius: 6px;
  padding: 8px;
  color: var(--remark-color-grey-dark-2);
}

/* ******************************* TOGGLE ******************************* */

.remark_toggle {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
}

.remark_toggle_switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 36px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  margin: 6px 0px 0px 0px;
}

.remark_toggle_switch:before,
.remark_toggle_switch:after {
  content: "";
}

.remark_toggle_switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.remark_toggle_checkbox:checked + .remark_toggle_switch {
  background: var(--remark-color-primary);
}

.remark_toggle_checkbox:checked + .remark_toggle_switch:before {
  left: 20px;
}

.remark_toggle_checkbox {
  position: absolute;
  visibility: hidden;
}

.remark_toggle_label {
  position: relative;
  top: 1px;
  color: var(--remark-color-grey-light-1);
  font-weight: normal;
  display: flex;
  flex-direction: row;
  width: 180px;
  margin: 0px 0px 2px 0px;
  font-size: 12px;
  line-height: 16px;
}

/* ****************************** FORM ******************************* */


.remark_form_input {
  padding: 10px 20px 12px 10px;
  font-family: var(--remark-default-sanserif-font);
  appearance: none;
  height: 28px;
  width: 100%;
  border-radius: 6px;
  background-color: var(--remark-color-white);
  margin: 2px 0px 10px 0px;
  transition: border 0.2s ease-in 0s;
  border: 1px solid var(--remark-color-grey-light-1);
  font-size: 8px;
  color: var(--remark-color-grey);
  outline: 0px !important;
}

.remark_field {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px 8px 0px;
  border: var(--remark-default-border);
  border-radius: 9px;
  padding: 16px;
  font-size: 12px;
  font-weight: normal;
  color: var(--remark-color-grey-light-1);
}

.remark_form_label {
  font-family: var(--remark-default-sanserif-font);
  font-size: 12px;
  color: var(--remark-color-grey-light-1);
  font-weight: normal;
  text-align: left;
  width: 120px;
  display: flex;
  flex-direction: row;
  line-height: 12px;
  margin: 10px 0px 2px 0px;
}



/* ****************************** MENU ******************************* */


.remark_option_check {
  background: var(--remark-color-primary);
}

.remark_standard_menu_container {
  height: auto;
  width: 64px;
  border-radius: 12px;
  background-color: var(--remark-color-grey-light-4);
  border: var(--remark-default-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  z-index: 1000000000000;
  position: fixed;
  top: 240px;
  left: 24px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  font-family: var(--remark-default-sanserif-font);
}

.remark_menu_body {
  height: 100%;
  width: 100%;
}

.remark_main_heading {
  font-size: 12px;
  color: var(--remark-color-grey);
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-weight: bold;
}

.remark_menu_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px 10px 0px;
}

.remark_menu_option {
  height: 40px;
  width: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--remark-color-grey-light-3);
  border: var(--remark-default-border);
  border-radius: 12px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  cursor: pointer;
}

.remark_menu_option_active {
  background-color: #0d6efd;
}

.remark_menu_option:hover {
  transform: scale(1.05);
  background-color: var(--remark-color-grey-light-2);
}

.remark_menu_option:active {
  transform: scale(1.0);
}

.ionicon {
  width: 32px !important;
  height: 32px !important;
  color: inherit !important;
  stroke: var(--remark-color-grey);
}

svg > * {
  fill: none !important;
  stroke: inherit !important;
}

/* **************************** TOOLTIP ****************************** */

.remark_tag_tooltip {
  background: var(--remark-color-white) !important;
  position: fixed;
  width: fit-content !important;
  padding: 10px !important;
  z-index: 100000 !important;
  border-radius: 6px !important;
  height: 12px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: var(--remark-default-box-shadow-light) !important;
  border: var(--remark-default-border) !important;
}

.remark_tag_tooltip_info {
  font-size: 12px !important;
  color: var(--remark-color-primary) !important;
  font-weight: bold !important;
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px 1px 2px 2px !important;
}